<footer>
  <div class="h2o-container h2o-container--mode">
    <div class="h2o-footer">
      <div class="h2o-footer__box">
        <div class="h2o-footer__top">
          <ul class="h2o-footer-links h2o-footer-links--mode">
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-visa"></i></button>
              <span class="h2o-footer-links__title">Visa/Mastercard</span>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-maestro"></i></button>
              <span class="h2o-footer-links__title">Maestro</span>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-webmoney"></i></button>
              <span class="h2o-footer-links__title">Webmoney</span>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-skrill"></i></button>
              <span class="h2o-footer-links__title">Skrill</span>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-neteller"></i></button>
              <span class="h2o-footer-links__title">Neteller</span>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-astropay"></i></button>
              <span class="h2o-footer-links__title">Astropay</span>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-payop"></i></button>
              <span class="h2o-footer-links__title">PayOp</span>
            </li>
          </ul>
            <div class="h2o-footer-nav">
              <ul class="h2o-footer-nav__list">
                <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-jozz">О нас</button></li>
                <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-jozz"> Ответственная игра</button></li>
                <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-jozz">Партнерам</button></li>
                <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-jozz">Правила и условия</button></li>
                <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-jozz">Политика файлов cookie</button></li>
                <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-jozz">Политика конфиденциальности</button></li>
              </ul>
            </div>

            <ul class="h2o-footer-links">
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-amatic"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-1x2"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-booming"></i></button>
              </li><li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-playson"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-pragmat"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-ygg"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-wazdan"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-betsoft"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-spinogames"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-blueprint"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-micro"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-endorph"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-relax"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-quick"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-push"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-habanero"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-just"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-irondog"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-jozz"><i class="h2o-icon-retro"></i></button>
              </li>
            </ul>
        </div>
      
      </div>

      <div class="h2o-footer__bottom">
      
        <p>Jozz.com управляется компанией NETGLOBE SERVICES LTD, действующей в качестве платежного оператора. Компания зарегистрирована по адресу: 79 Spyrou Kyprianou Avenue, Protopapas Building, 2nd floor, office 201, 3076 Limassol, Cyprus. Регистрационный номер HE 313864 
           <br><br>GLOBONET B.V., компания, зарегистрированная по адресу: Kaya Richard J. Beaujon Z / N, Кюрасао, лицензирована правительством Кюрасао под номером 1668 / JAZ. Регистрационный номер 146296
          <br><br>Чтобы зарегистрироваться на этом веб-сайте, пользователю необходимо принять Общие правила и условия. В случае обновления Общих правил и условий, существующие пользователи могут отказаться от использования продуктов и услуг до того, как указанное обновление вступит в силу, то есть минимум через две недели после его объявления.
        <br><br>
        Copyright © 2020-2024. Все права защищены
    </p>
        

      </div>
    </div>
  </div>
</footer>