<header class="h2o-header">
  <div class="h2o-container h2o-container--mode">
    <div class="h2o-header__box">

      <ul class="h2o-main-nav">
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link active">
            Игры
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Новости
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Промо
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Турниры
          </a>
        </li>
      </ul>

      <a href="index.html" class="h2o-logo">
        <span class="h2o-icon-logo"></span>
      </a>

      <div class="h2o-header__btns">
        <button class="h2o-main-button h2o-jozz">Регистрация</button>
        <button class="h2o-main-button h2o-main-button--white h2o-jozz">Войти</button>
      </div>
    </div>

    <div class="h2o-bar">
      <ul class="h2o-main-nav">
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link active">
            Игры
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Новости
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Промо
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Турниры
          </a>
        </li>
      </ul>

      <button class="h2o-burger">
        <span class="h2o-burger__line"></span>
      </button>
    </div>

    <div class="h2o-mobile-menu">
      <ul class="h2o-main-nav">
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link active">
            Игры
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Новости
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Промо
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Турниры
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>